@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$ff-primary: "Poppins", sans-serif;

$bg-color: linear-gradient(to bottom, #3498db, #2c3e50);
$card-color: hsla(0, 0%, 0%, 0.45);
$white-color: white;
$search-color: hsla(0, 0%, 0%, 0.3);
$search-color-hover: hsla(0, 0%, 70%, 0.3);
