@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $ff-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bg-color;
}

.card {
  background: $card-color;
  color: $white-color;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 24px;
  width: 100%;
  max-width: 420px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  height: 2.5rem;
  width: 3rem;
  outline: none;
  background: $search-color;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $search-color-hover;
  }
}

.search-bar {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 24px;
  font-family: inherit;
  font-size: 120%;
  background: $search-color;
  color: $white-color;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.description {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.temp {
  font-size: 4rem;
}

.icon {
  font-size: 7rem;
}

.city__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 0.8rem;
}

.city {
  font-weight: 500;
}

.location-icon {
  margin-right: 0.3rem;
  fill: white;
  height: 0.9rem;
  width: 0.9rem;
}

.wind {
  margin-top: 0.3rem;
}
